# === GLOBAL ===
.DS_Store
Thumbs.db

# === PYTHON (ml-core) ===
ml-core/venv/
ml-core/.venv/
ml-core/__pycache__/
ml-core/data/raw/
ml-core/data/processed/
*.pyc

# === NODE JS (web-app) ===
web-app/node_modules/
web-app/dist/
web-app/.env
npm-debug.log
yarn-error.log

# === MODELS ===
# *.onnx
# *.pkl